@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ebd6f5;
  font-family: "Roboto", sans-serif;
}

.applogo{
  text-align: center;
  color: purple;
  font-size: 30px;
}

.wrapper{
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h2{
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

p{
  margin-bottom: 1.7rem;
}


form input{
  width: 85%;
  outline: none;
  border: none;
  background: #f7f7f7;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}

button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: #8f00a1;
  color: #fff;
  cursor: pointer;
}
button:hover{
  background: rgba(54, 0, 52, 0.767);
}


.not-member{
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.not-member a{
  color: #8f00a1;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
